html {
	background-image: visual_guide_ar15.jpg;
}

header {
  border: 1px solid black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 0 auto;
  background-color: grey;
}

body {
  width: 80%;
  margin: 0px auto;
  opacity: .8;
}

section {
  display: block;
  border: 1px solid black;
  border-radius: 20px;
  background-color: grey;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

aside, object {
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word;
  margin-top: 5px;
  margin-bottom: 5px;
}

object {
  text-align: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

aside {
  margin-left: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  height: 2em;
}

p {
text-align: center;
}

